{% load static %}
<style>
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #bab7b7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(105, 205, 205);
}
.pie-pagina .grupo-1{
    background-color: #eff2f4;
    padding: 15px 10px;
    text-align: center;
    color: #0a0a0a;
}
.pie-pagina .grupo-1 small{
    font-size: 20px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.derechos{
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <div class="derechos">
                <small>&copy; 2022 <b>Sweet Home</b> - Todos los Derechos Reservados.</small>
            </div>
            <div>
                <h2>Contáctenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>

                </div>
            </div>
        </div>



</footer>