{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetHome</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilohome.css' %}">
    
</head>

<body>
    {% include "./header.html" %}
    <div class="cuerpo">
    <!-- Slide contenedor -->
    
    <br>

    

    <h1 class="h1">¿Qué Producto buscas?</h1>
    <form action="">
        <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar...">
    </form>


   
    <div class="titulo-productos">
        <h2>Productos Populares</h2>
    </div>
    <div id="terceraSeccion">
        <div id="galeria">
            <div id="fila1">
                {% for product in products %}
                <div class="cajaimg1" >
                    <div class="contenedorimg">
                        <img src="{{product.image.url}}">
                    </div>
                    <div class="cuadroTexto">
                        <span class="descripcion">{{product.name}}</span>
                        
                        <span class="precio">$ {{ product.price|floatformat:2  }}</span>
                        <span >
                        <div class="botonaddcarrito">
                            <button data-product={{product.id}} data-action="add" class ="btn btn-outline-secondary add-btn update-cart" >Agregar al carrito</button>
                          
                           
                          
                        </div>
                      
                       
                    </span>
                    </div>
                </div>
                
                
                {% endfor %}
            </div>
            
        </div>
    </div>
    
    </div>
    {% include "./piedepagina.html" %}
    
</body>

</html>