{% extends './main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetHome</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilohome.css' %}">

</head>

<body>
    {% include "./header.html" %}
    
    <div class="cuerpo">
        <!-- Slide contenedor -->

        <br>



        <h1 class="h1">¿Qué Producto buscas?</h1>
        <form action="">
            <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar...">
        </form>



        
       
        {% block content %}
        <div class="row">
            {% for product in products %}

            <div class="col-lg-3">
                &nbsp
                <img class="thumbnail" src="{{product.image.url}} ">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>

                    <button data-product={{product.id}} data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>

                    <h4 style="display: inline-block; float: right">$ {{ product.price|floatformat:2 }}</h4>

                </div>
            </div>


            {% endfor%}

        </div>
        {% endblock content %}




        {% include "./piedepagina.html" %}

</body>

</html>