{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetHome</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilohome.css' %}">
    
</head>

<body>
    {% include "./header.html" %}
    <div class="cuerpo">
    <!-- Slide contenedor -->
    
    <br>

    

    <h1 class="h1">¿Qué Producto buscas?</h1>
    <form action="">
        <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar...">
    </form>


   
    <div class="titulo-productos">
        <h2>Productos Populares</h2>
    </div>
    <div id="terceraSeccion">
        <div id="galeria">
            <div id="fila1">
                {% for producto in productos %}
                <div class="cajaimg1" >
                    <div class="contenedorimg">
                        <img src="{{ producto.imagen.url}}">
                    </div>
                    <div class="cuadroTexto">
                        <span class="descripcion">{{producto.nombre}}</span>
                        <span class="descripcion">{{producto.descripcion}}</span>
                        <span class="precio">${{producto.valor}}</span>
                        <span >
                        <div class="botonaddcarrito">
                            <a href="{% url 'Add' producto.id %}" class="add-carrito">Registrarse</a>
                           
                            
                        </div>
                      
                       
                    </span>
                    </div>
                </div>
                
                
                {% endfor %}
            </div>
            
        </div>
    </div>
    
    </div>
    {% include "./piedepagina.html" %}
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</body>

</html>